<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li class="active">All Activities</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
    <h2> All Activities</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <!-- START DATATABLE -->
            <div class="panel panel-default">

                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Activity ID</th>
                                <th>Date/Time</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>View</th>
                                <th>Edit/Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="activity in activitySchema">
                                <td>{{activity.activitySchemaId}}</td>
                                <td>{{activity.datetime}}</td>
                                <td>{{activity.activity_type}}</td>
                                <td>{{activity.status}}</td>
                                <td><a href="">View</a></td>
                                <td><button class="btn btn-primary">Edit</button><button class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DATATABLE -->

        </div>
    </div>

</div>
<!-- PAGE CONTENT WRAPPER -->