<div class="page-container">
    <div ng-include="'/views/include/sidebar.html'" class="sidebar-view"></div>

    <div class="page-content">
        <div ng-include="'/views/include/navbar.html'" class="navbar-view"></div>
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">

            <div class="row">
                <div class="col-md-12">

                    <!-- START NEW RECORD -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Share your activity...</h3>
                            <form class="form-horizontal" role="form" >
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input class="form-control" placeholder="Write something" ng-model="post.description"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="btn-group">
                                            <span class="fa fa-map-marker"></span>

                                            <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/> </div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <select ng-model="post.activity_type">
                                                    <option>Select Type</option>
                                                    <option>Run</option>
                                                    <option>Bike Ride</option>
                                                    <option>Swim</option>
                                                    <option>Hike</option>
                                                </select> &nbsp;&nbsp;&nbsp;
                                        <div class="pull-right">
                                            <button class="btn btn-primary" ng-click="submit(post)"><span class="fa fa-share"></span>SHARE</button>
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END NEW RECORD -->

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <!-- START TIMELINE -->
                    <div class="timeline timeline-right">

                        <!-- START TIMELINE ITEM -->
                        <div class="timeline-item timeline-main">
                            
                            <div class="timeline-date" ng-app="ngMap" ng-controller="homeCtrl">{{date | date:'yyyy'}}</div>
                        </div>
                        <!-- END TIMELINE ITEM -->

                        <!-- START TIMELINE ITEM -->
                        <div class="timeline-item timeline-item-right">
                            <div class="timeline-item-info">{{date | date}}</div>
                            <div class="timeline-item-icon"><span class="fa fa-globe"></span></div>
                            <div class="timeline-item-content">
                                <div class="timeline-heading">
                                    <img src="../assets/assets/images/users/avatar.jpg" /> <a href="#">currentUser</a> added
                                    article
                                    <a href="#">Lorem ipsum dolor sit amet</a>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus dolor id orci
                                        lacinia, eget aliquam velit consequat.</p>
                                </div>
                                <div class="timeline-body comments">
                                    <div class="comment-item">
                                        <img src="../assets/assets/images/users/no-image.jpg" />
                                        <p class="comment-head">
                                            <a href="#">Brad Pitt</a> <span class="text-muted">@bradpitt</span>
                                        </p>
                                        <p>Awesome, man, that is awesome...</p>
                                        <small class="text-muted">10h ago</small>
                                    </div>
                                    <div class="comment-write">
                                        <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>
                                        <a href="#"><span class="fa fa-share"></span></a>
                                    </div>
                                </div>
                                <div class="timeline-footer">
                                    <a href="#">Read more</a>
                                    <div class="pull-right">
                                        <a href="#"><span class="fa fa-comment"></span> 35</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END TIMELINE ITEM -->

                        
                    </div>
                    <!-- END TIMELINE -->

                </div>
            </div>

        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
</div>