<div class="login-container">

    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <center>
                <div class="login-title"><strong>SIGN IN</strong> to your account </div>
            </center>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Username" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" placeholder="Password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-info btn-block"><b>SIGN IN</b></button>
                    </div>
                </div>
                <hr />
            </form>

            <form action="" class="form-horizontal" method="post">
                <div class="login-title">
                    <center>
                        <p> or <strong>SIGN UP</strong></p>
                    </center>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Full Name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Gender :" disabled/>
                    </div>
                    <div class="col-md-4">
                        <input type="radio" class="iradio" name="iradio" /><strong> Male</strong>
                    </div>
                    <div class="col-md-4">
                        <input type="radio" class="iradio" name="iradio" /><strong> Female</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" placeholder="Date of Birth" id="dp-8" class="form-control  datepicker" data-date-format="dd-mm-yyyy" />
                            <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" placeholder="Password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-info btn-block"><b>SIGN UP</b></button>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>
</div>